<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <title th:text="${cod}"></title>
    </head>
    <body>
        <div th:text="${cod}"></div>
        <div class="text-test"></div>
        <script>
eval(function(p,a,c,k,e,r){e=String;if(!''.replace(/^/,String)){while(c--)r[c]=k[c]||c;k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('1 0=2.3(".4-5");0.6="7, 8!";',9,9,'test1|const|document|querySelector|text|test|innerHTML|Hello|world'.split('|'),0,{}))
        </script>
    </body>
</html>